<aside class="sidebar">
  <div class="sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1 id="logo">{{ .Site.Title }}</h1></a>
      <p class="lead">
        {{ with .Site.Params.description }} {{.}} {{ else }}<3{{end}}
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <p>&copy; {{ .Site.Params.copyright }} {{ now.Format "2006"}}</p>
  </div>
</aside>
